<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<nav class="site-header sticky-top py-1" th:fragment="header">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="/">
            <i class="home-icon fa fa-tint fa-2x"></i>
        </a>

        <th:block sec:authorize="isAuthenticated()">
            <a class="py-2 d-none d-md-inline-block" href="/assessment-menu">Assessment</a>
            <a class="py-2 d-none d-md-inline-block" href="/objects">Objects</a>
            <a class="py-2 d-none d-md-inline-block" href="/researches">Researches</a>
            <a class="py-2 d-none d-md-inline-block" href="/profile">Profile</a>
        </th:block>

        <th:block sec:authorize="isAnonymous()">
            <a class="py-2 d-none d-md-inline-block" href="/login">Login</a>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" class="mb-0">
                <input type="submit" value="Logout" class="btn btn-outline-secondary"/>
            </form>
        </th:block>

        <th:block sec:authorize="hasAuthority('ADMIN')">
            <div class="nav-admin py-2 d-none d-md-inline-block" style="color: white">
                <a href="/admin-menu">Admin<i class="fa fa-user ml-2" aria-hidden="true"></i></a>
            </div>
        </th:block>

        <a href="" class="py-2 d-none d-md-inline-block"></a>

    </div>
</nav>


</body>
</html>