<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row" th:fragment="sidebar">
    <nav id="sidebarMenu" class="col-lg-1 d-md-block sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span data-feather="home"></span>

                        Menu <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-objects">
                        <span data-feather="file"></span>
                        Objects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-users">
                        <span data-feather="users"></span>
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-assessments">
                        <span data-feather="layers"></span>
                        Assessments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications?filter=active">
                        <span data-feather="alert-circle"></span>
                        Notifications (active)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications?filter=read">
                        <span data-feather="alert-circle"></span>
                        Notifications (already read)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications?filter=reported">
                        <span data-feather="alert-circle"></span>
                        Notifications (reported)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications?filter=closed">
                        <span data-feather="alert-circle"></span>
                        Notifications (closed)
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>


</body>
</html>