<html xmlns:th="https://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/header :: header"></div>

<h3 class="mt-3 mb-3 font-weight-normal text-center">Assessments</h3>

<table class="list-table table table-hover text-center">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>ObjectID</th>
        <th>Name</th>
        <th>Date</th>
        <th>pH</th>
        <th>Hum</th>
        <th>Trophy</th>
        <th>Oxygen</th>
        <th>Result</th>
        <th>Notes</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assessment : ${assessments}" class="align-middle">
        <td>[[${assessment.id}]]</td>
        <td>[[${assessment.objectId} ?: 'Quick assessment']]</td>
        <td>[[${assessment.name}]]</td>
        <td>[[${assessment.dateTime}]]</td>
        <td>[[${assessment.ph}]]</td>
        <td>[[${assessment.hum}]]</td>
        <td>[[${assessment.trophy}]]</td>
        <td>[[${assessment.oxygen}]]</td>
        <td>[[${assessment.assessmentResult}]]</td>
        <td>[[${assessment.notes}]]</td>
        <td>
            <a th:href="@{/assessment/details/__${assessment.id}__}">
                <button class="btn btn-outline-success mb-1 text-nowrap">Show more</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>
